Graduate Application Requirements | Samueli Electrical and Computer Engineering
Skip to Navigation
Skip to Navigation
Skip to Main Content
Skip to Footer Links
Samueli Electrical and Computer Engineering
Graduate Application Requirements
Application Deadlines
Online Application
Bachelor’s Degree
Master’s Degree or Graduate Coursework
GRE
Recommendation Letters
TOEFL/IELTS
Statement of Purpose
Resume/CV
Writing Sample
Application for Departmental Funding
Personal History Statement
Proof of Funding for International Students
Application Deadlines
Item
Required?
Deadline
Online Application
YES
December 15
4-year Bachelor’s degree or Equivalent Transcript
YES
As part of the online application
Master’s degree or Graduate Coursework Transcript
YES – if taken
As part of the online application
GRE
NO
If submitted – January 3 – and must be uploaded as part of the application
3 Recommendation Letters
YES
January 3
TOEFL/IELTS
Any applicant whose bachelor’s degree was earned outside of the United States (or in another country in which English is: the national language, primary spoken language and medium of instruction) is required to provide TOEFL or IELTS test scores.
January 3
Statement of Purpose (SOP)
YES
December 15 – submitted as part of the application
Resume/CV
YES
December 15 – and must be uploaded as part of the application
Writing Sample
NO
If submitted – December 15 – and must be uploaded as part of the application
Application for Departmental Funding or Proof of Funding
NO
The UCLA Graduate Division has
information on funding opportunities online
.
Personal History Statement
NO
If submitted – December 15 – and must be uploaded as part of the application
Online Application
The
UCLA Application for Graduate Admission
.
typically becomes available on the second Monday of September. Applications for the following Fall Quarter are accepted September through December 15th.
All applications must be paid and submitted by the deadline, December 15th midnight (PST), in order to be considered for admission. Late applications will not be considered. Updates to application materials will not be accepted. Please read the instructions carefully and double-check all aspects of the application before submitting.
Bachelor’s Degree
All candidates to the MS and PhD programs must have received a bachelor’s degree from an accredited and recognized college or university.  The University Graduate Division requires that applicants have a minimum overall GPA of 3.0/4.0.  However, the most competitive applicants have GPAs within the range of the most recently admitted applications.  These statistics are listed
here
.
Applicants must upload a copy of their transcript as part of their electronic application.  UCLA is no longer requiring official transcripts at the time of the application. Applicants who are recommended for admission and accept our offer will then be required to submit official transcripts from their institutions.
International Students who are admitted to our program are still advised to submit official transcripts if they are recommended for admission as UCLA will not be able to issue the required documents needed to apply for a student visa.
Note: All applicants are still required to upload unofficial transcripts as part of the online application..
The shipping address for these documents is:
UCLA Electrical and Computer Engineering
Office of Graduate Student Affairs
420 Westwood Plaza
57-127 Engineering IV
Los Angeles, CA 90095-1594
U.S.A
ATTN: Admissions Coordinator
Master’s Degree or Graduate Coursework
Applicants who have completed any graduate-level coursework, must provide official records from the institution(s) where the coursework was taken.  Applicants who hold a master’s degree are expected to apply directly to the PhD program.  In addition to uploading a copy of the bachelor’s degree transcript, applicants who have taken graduate coursework must also upload a copy of their graduate transcript(s) as part of their electronic application.  UCLA is no longer requiring official transcripts at the time of the application. Applicants who are recommended for admission and accept our offer will then be required to submit official transcripts from their institutions.
International Students who are admitted to our program are still advised to submit official transcripts if they are recommended for admission as UCLA will not be able to issue the required documents needed to apply for a student visa.
Note: All applicants are still required to upload unofficial transcripts as part of the online application..
The shipping address for these documents is:
UCLA Electrical and Computer Engineering
Office of Graduate Student Affairs
420 Westwood Plaza
57-127 Engineering IV
Los Angeles, CA 90095-1594
U.S.A
GRE
Students who wish to apply for admission to our graduate program are not required to submit GRE test scores as part of their application package. GRE scores are entirely optional. Applications that include GRE scores will not be given preference.
If a student submits their GRE test scores, they may be considered as part of the holistic application review. Those who choose to do so should have the Educational Testing Service (ETS) report official scores by 5:00PM (PST) on January 15th at the latest. GRE scores are valid for 5 years prior to the date of application.
Institution Code = 4837
Department Code = 1203
Recommendation Letters
All applicants must provide the name and email address for 3 individuals who have agreed to provide letters of recommendation.
The Electrical and Computer Engineering Department prefers letters from academic faculty.  However, applicants may choose to provide ONE letter from a professional reference.  The application allows for 4 letters to be submitted. Only the first 3 letters are guaranteed to be reviewed.  Applicants may choose to provide a 4th letter if they wish.
The online application program allows applicants the ability to send reminders, change recommendation letter writer information, and verify receipt of letters of recommendation.  Letters must be received electronically by 5:00PM (PST) on January 3.
All letters must be submitted using the online application.  No paper or emailed letters are accepted by the Electrical and Computer Engineering Department.
TOEFL/IELTS
Applicants who have studied outside of the USA or in another country in which English is the primary spoken language of daily life and the medium of instruction are required to provide TOEFL or IELTS test scores.  The minimum scores required are
TOEFL minimums are:
IELTS minimum of 7.0
Internet total of 87
Computer total of 220
Paper total of 560
Applicants who must provide proof of English proficiency must have the
Educational Testing Service (ETS)
or
IELTS
report official scores by 5:00PM (PST) on January 15.  Applicants are also encouraged to upload copies of their student score reports in the additional documents section of their electronic application.
TOEFL & IELTS scores are valid two years prior to application.  Additional details on this requirement are outlined on the
UCLA Graduate Division
website
.
TOEFL Institution Code = 4837
TOEFL Department Code = 66
The shipping address for the IELTS score report is:
UCLA Electrical and Computer Engineering
Office of Graduate Student Affairs
420 Westwood Plaza
57-127 Engineering IV
Los Angeles, CA 90095-1594
Statement of Purpose
Note
: The UCLA Graduate Division has changed their application format only allowing applicants to submit a 500-word limit Statement of Purpose (SOP).  Applicants applying to the Electrical and Computer Engineering Department may still submit a two-page SOP by uploading the document as part of the ‘Supporting Documents’ section. We ask that in the SOP section you type the following message “SOP uploaded in the supporting documents section” so that we are aware that you are attaching a two-page SOP.
The Statement of Purpose (SOP) should be precise and brief.  The statement should be no more than 2 pages and should contain only those personal details that would aid the admissions review process.
The SOP is also used to match admitted students with assigned advisors.  All applicants are encouraged to be as specific as possible in their SOP.  General descriptions such as “Electrical Engineering” are not specific enough.  Indicating what branch of Electrical Engineering (such as communications, signal processing, controls, etc.) interests you is much more helpful in the review and advisor matching process.
Please note: No updates of the SOP are accepted.  All applicants are encouraged to double-check all aspects of their application before submitting.  The document included in the application is the ONLY one accepted by the department.
Resume/CV
A Resume/CV is required from all applicants. Please upload the Resume/CV onto the “Supporting Documents” section of the application.
Please note: No updates of the Resume/CV are accepted.  All applicants are encouraged to double-check all aspects of their application before submitting.  The document included in the application is the ONLY one accepted by the department.
Writing Sample
The writing sample is part of the University application.  It is not required by the Electrical and Computer Engineering Department.  However, if a writing sample is submitted as part of the application, it will be available for the review committee’s consideration and may be used as part of the evaluation.  No updates of the writing sample will be accepted.  All applicants are encouraged to double-check all aspects of their application before submitting.
Application for Departmental Funding
The Electrical and Computer Engineering Department does not have a separate application for departmental funding.  All admitted students are considered for departmental funding.
TA positions are reserved for students in their 2nd+ year in our program.  Therefore, first year applicants are not eligible for TA positions.
Each faculty member determines which students (both those recommended for admission by the admissions committee, and current ECE Graduate students) will be offered GSR positions in his/her lab.
More Funding Information is located by using the link on the left.
Personal History Statement
The personal history statement is part of the University application. It is not required by the Electrical and Computer Engineering Department. However, if a personal history statement is submitted as part of the application, it will be available for the review committee’s consideration and may be used as part of the evaluation. No updates of the personal history statement will be accepted. All applicants are encouraged to double-check all aspects of their application before submitting.
Proof of Funding for International Students
Proof of Funding is not considered in the review for admission.  However, admitted, international students must provide proof of funding in order to receive the I-20 or DS-2019 required for their visa application with the U.S Embassy or Consulate.
Admitted, F-1 students who have completed the Statement of Intent to Register (SIR) will receive an email with instructions on how to request the I-20 online.  Once the I-20 is generated, it will be released to the Electrical and Computer Engineering Department Office of Graduate Student Affairs (ECE OGSA).  The ECE OGSA staff will then email the student with a pdf scan of the document and additional shipping information.
Admitted students seeking J-1 status must coordinate with the
Dashew Center for International Students and Scholars (DCISS)
and the ECE OGSA in order to verify that all necessary paperwork is processed for the DS-2019.
©2024 Regents of the University of California
Contact Us
Accessibility
Terms of Use
Lab Safety
UCLA