Major Requirements – Molecular, Cell and Developmental Biology
Facebook
Twitter
Give
Now
Major Requirements
Preparation for the Major
Life Science Series
Physical Science Series
Chemistry
14A, 14B, 14BL, 14C, 14CL
★
, 14D
OR
20A, 20B, 20L, 30A, 30AL, 30B, 30BL
★
Math
3A, 3B, 3C
or
Life Science 30A, 30B, Stats 13 or LS40
OR
31A, 31B, 32A
Physics
5A, 5B, 5C
OR
1A, 1B, 1C, 4AL, 4BL
Life Science
LS1
(Evolution, Ecology, & Biodiversity),
LS2
(Cells, Tissues & Organs)
LS3
(Intro. Molecular Biology),
LS23L
(Lab taken with LS3 or 4),
LS4
(Genetics)
OR
7A
(Cell and Molecular Biology),
7B
(Genetics, Evolution, and Ecology),
7C
(Physiology and Human Biology),
23L
(Lab taken after 7B)
IMPORTANT NOTES – Preparation for the Major
★ Chem 14CL or Chem 30BL is not required on the major, but most pre-health professional schools and possibly some graduate schools still require an organic lab class.
Students must earn a grade of C- or better in each prep course, and achieve an overall GPA of 2.0 in the prep for the major.
Students receiving grades of below C- in two prep courses, either separate courses or repetitions of the same course, are
subject to dismissal from the major
.
The Chemistry 14 series is unique to UCLA – there are no equivalents at other schools and must be taken in its entirety at UCLA.
Upper Division Major Requirements
Upper Division Core Requirements
Biochemistry
Chem 153A
Biochemistry: Intro to Structure, Enzymes, & Metabolism  (4 units)
Genetics
Life Science 107
Genetics  (5 units) (not required if LS4 completed)
Cell Biology Course
MCDB 165A
(5 units)
Biology of the Cell
Developmental Biology Course
MCDB 138
(5 units)
Developmental Biology
Molecular Biology Course
MCDB 144
(5 units)
Molecular Biology of Cellular Processes
Laboratory Requirement (choose from #1 – 4)
1.
MCDB 104AL
(5 units) Research Immersion Lab in Developmental Biology
OR
2.
MCDB 187AL
(5 units) Research Immersion Lab in Genomic Biology
OR
3.
MCDB 150AL
★
(5 units) Research Immersion Lab in Plant-Microbe Ecology
OR
4.
MCDB 196B♦
(4 units)
Research Apprenticeship II (2nd qtr.)
+
MCDB 180B*
(2 units)
Scientific Analysis & Communication II
IMPORTANT NOTES – Laboratory Requirement
★ MCDB C150 is a lecture course and pre-req for the MCDB 150AL lab course. MCDB C150 will be applied to toward the 20 units of elective for the major, MCDB 150AL will fulfill the lab requirement.
* MCDB 180B is taken CONCURRENTLY with 196B (same for 196A and 180A).
♦ 196A/180A is a pre-requisite for 196B/180B. The second quarter (196B) is applied to your laboratory requirement. 196A/180A/180B (8u) are applied toward the 20 units of elective. See the MCDB Undergraduate website for application materials and instructions, click on “Undergraduate Research” then click on “MCDB 196A & 196B”.
Upper Division Elective Requirement for the Major
20 units of Approved Upper Division Electives
(10 of which must be MCDB)
Please see the list of approved MCDB and outside department electives below.
You may apply any of courses with an asterisk toward the 10 units of MCDB Department Electives as long as 5 units of MCDB departmental electives are also applied to the category.
See
IMPORTANT NOTES PERTAINING TO MAJOR REQUIREMENTS
(below) for how specific courses count, or do NOT count, toward major electives.
List of Approved MCDB Electives
Course #
Course Name
Units
MCDB 104BL
Advanced Research Analysis in Developmental Biology
4
MCDB M140
Cancer Cell Biology
5
MCDB C141
Molecular Basis of Plant Differentiation and Development
5
MCDB 146
Metabolism and Disease
5
MCDB C150
Plant Communication
4
MCDB CM156
Human Genetics
5
MCDB 165B
Molecular Biology of the Cell Nucleus
5
MCDB 168
Stem Cell Biology
5
MCDB 172
Genomics and Bioinformatics
5
MCDB 175A
Neuroscience:  From Molecules to Mind
5
MCDB 175B
Neuroscience:  From Molecules to Mind
5
MCDB 175C
Neuroscience:  From Molecules to Mind
5
MCDB 180A
Scientific Analysis and Communications I
(formerly 188A)
2
MCDB 180B
Scientific Analysis and Communications II
(formerly 188B)
2
MCDB 191
Variable Topics in Molecular, Cell, and Developmental Biology
2
MCDB 196A
Research Apprenticeship I (1st qtr.)
4
MCDB 198A-C
Honors Research in MCDB
4/qtr.
MCDB 199A-C
Directed Research in MCDB
4/qtr.
List of Approved Outside Electives
Course Dept. & #
Course Name
Units
Biostatistics
BIOSTATS 100A
Intro to Biostatistics
4
Chemistry & Biochemistry
CHEM C100*
Genomics and Computational Biology
5
CHEM 153B
NOT ACCEPTED ON THE MAJOR – DO NOT TAKE THIS COURSE
CHEM 153C*
Biochemistry: Biosynthetic & Energy Metabolism & Its Regulation
4
CHEM 153L*
Biochemistry Laboratory
4
CHEM C159*
Mechanisms in the Regulation of Transcription
4
CHEM CM160A*
Introduction to Bioinformatics
4
Computer Science/Computational Systems Biology
COM SCI CM124*
Computational Genetics
4
COM SCI CM186*
Computational Sys. Bio: Modeling & Simulation of Biol. Systems
4
Ecology & Evolutionary Biology
EEB 110
Vertebrate Morphology
6
EEB 121
Molecular Biology and Evolution
4
EEB 162
Plant Physiology
4
Human Genetics
HUM GEN C144
Genomic Technology
4
Microbiology, Immunology & Molecular Genetics
MIMG 101*
Introductory Microbiology
4
MIMG 102*
Virology
4
MIMG 100L*
Microbiology Lab for Professional Schools
3
MIMG 105*
Biological Microscopy
4
MIMG 106*
Bacterial Pathogenesis
4
MIMG 132
NOT ACCEPTED ON THE MCDB MAJOR
MIMG 158*
Microbial Genomics
4
MIMG 168*
Molecular Parasitology
4
MIMG 174*
Advanced Topics in Molecular Parasitology
2
MIMG C185A*
Immunology
5
Physiological Sciences
PHY SCI 121*
Disease Mechanisms and Therapies
5
PHY SCI 124*
Molecular Biology of Aging
4
PHY SCI 125*
Molecular Systems Biology
5
PHY SCI C130*
Sex Differences in Physiology and Disease
4
PHY SCI 156*
Molecular Mechanisms & Therapies for Muscular Dystrophy
4
PHY SCI 166
Animal Physiology
6
PHY SCI 174*
Cell Biophysics in Physiology & Disease
5
Statistics
STATS 100A
Introduction to Probability Theory
4
* You may apply any of courses with an asterisk toward the 10 units of MCDB Department Electives as long as 5 units of MCDB departmental electives are also applied to the category.
Important Notes Pertaining to Major Requirements
Any single course can be used in only ONE category on the major.
Courses applied toward the prep and major requirements must be taken for a letter grade.
MCDB majors are required to earn at least an overall 2.0 GPA for upper division coursework taken to fulfill the major requirements.
LS 7A, 7B, 7C, 23L and LS107 are pre-requisites for all MCDB upper division coursework
except
MCDB 165A (pre-reqs: 14D or 30B and LS7A, 7B, 7C).
Any upper division MCDB course will be accepted as an MCDB elective,
EXCLUDING
MCDB 100, 104AL, 150AL, 187AL, 187C, 187D, 190A-C, 192A, 192B, 193, 194A, and 199.
CHEMISTRY 153B IS NOT ACCEPTED ON THE MCDB MAJOR.
You will not receive credit for MCDB 144 if you take Chem 153B prior to taking MCDB 144.  See the MCDB 144 course description on the Schedule of Classes.
The MCDB department does not approve Biochemistry/MCDB double major petitions.
A maximum of 4 units of approved seminar course credit may be applied to the ELECTIVES requirement.
APPLYING INDEPENDENT RESEARCH TO MCDB MAJOR REQUIREMENTS
:  To enroll in MCDB 196A/B, 199A-D, or 198A-D, students MUST be conducting research in an MCDB approved lab.  A list of approved faculty mentors is available in the MCDB undergraduate office (128 Hershey Hall).
APPLYING INDEPENDENT RESEARCH TO THE LAB REQUIREMENT (196A/B, 180A/B):
Students must apply for these courses during their third or fourth year.  Transfer students may apply during their second year at UCLA.  See the MCDB Undergraduate website for application materials and instructions, click on “Undergraduate Research” then click on “MCDB 196A & 196B”.
A maximum of 12 units of research (MCDB 196A – B, MCDB 199A – C, MCDB 198A – C) may be applied to the major requirements.
Please note:
MCDB 196B (4u) is applied to the upper division laboratory requirement and MCDB 196A (4u) plus MCDB 199C (4u) is applied toward the ELECTIVES requirement.
If a Research Immersion laboratory and follow-up Investigations course (i.e. 104AL/104BL) is completed, 12 units of MCDB 199A-C, or MCDB 198A-C may
ALSO
be applied to the electives.
Either
MCDB 144
or
165B
may be completed to fulfill the required molecular biology course.  The other course
MAY
be completed as an elective.
Only
two of the three developmental biology courses (MCDB 138, C141, 143) may be completed for MCDB major credit
(one as the required molecular bio course, one as an elective).
Elective credit is granted for
either
Biostats 100A or Stats 100A, but not both.
Requirements for the B.S. degree established by the College of Letters & Science are listed in the UCLA General Catalog.  A total of 180 quarter units are required for the degree;
60 of these 180 units must be upper division (course numbers 100-199)
.  Check your DPR to determine your allotted maximum number of quarter units.
NOTE:  The MCDB major UD requirements satisfy between 44 – 46 upper division units.
Scheduling Tips
Not all electives are offered every year. Please consult the Schedule of Classes or the appropriate department.
When making a course plan to meet your major requirements, please make sure you have planned for all prerequisites for any upper division course in which you plan to enroll. To enroll in MCDB 168, you must have already completed MCDB 165A and MCDB 138. Courses which count on the MCDB major, may have upper division prerequisites.
Some electives are restricted to the home department’s own majors during first pass. For example, if you want to get into MIMG 185A, you may need to wait until your second pass because you are not an MIMG major.
Interesting links
Here are some interesting links for you! Enjoy your stay :)
Pages
198 Sponsors Must
198 Students Must
198: How To Apply and Enroll
198A-D: Drafts, Reports, and Grading
199 Drafts, Reports, Grading
199 How to Apply and Enroll
199 project proposal
199 Project Proposals
199 Sponsors Must
199 Sponsors Must
199 Students Must
199 Students Must
199A-D: Drafts, Reports, and Grading
483 BSRB Reservations
5000A TLSB reservations
Active Emeriti
Adjunct Faculty
Advising
Advising
Alumni and Friends
Basic Information
Basic Information
Biomedical Research Minor
Commencement
Commencement 2020
Conference map
conference2023
crs
custom search view page test
Departmental Honors
Enrollment Request Form
facResearchTest
facTEST
facTESTmon
faculty handbook
FacultyResearchTEST2
facultyTESTblockMonday
First Year Students
First Year Students
freezer reservation
Frequently Asked Questions
Frequently Asked Questions
full Custom Faculty View test
giveTEST
Giving
Graduate
grantest
Home
HomeOrig
HorizontalNewsTEST
How to Apply and Enroll
How to Get Research Experience
indivfaculty
Intranet
Intranet Test
Jobs
Join MCDB Listserv
Laboratory Safety
Leadership
Lecturers
Major Requirements
Major Requirements
MCDB 193/194A Enrollment
MCDB 196A & 196B: Forms
MCDB 196A and 196B
MCDB 198/199 Forms
MCDB 198A-D
MCDB 198A-D Proposals
MCDB 199
MCDB 199A-D
MCDB Retreat Program
MCDB-Group-Administration
New Student Sessions
NewNewsTEST
news
newSearchTEST
newsortableViewTEST
Nursing Mothers Room
Order Form
paginationViewPageTest
photo test
Professors
Proposal Guidelines
readMoreTEST
redopagtwoPagetwo
redotthreeTEST
redotwopaginationtestPAGE
Reservation Request
Sample Page
searchViewTEST
seminars
talk poster form
taxonomyTEST
test
test1
test2
test3
Testing mcdb-users
Transfer Students
Transfer Students
Trouble Enrolling
Trouble Enrolling
Undergraduate
Undergraduate Research
v
View: searchFacultyMondayView
zoom backgrounds
Categories
Uncategorized
undergraduate
Archive
May 2020
September 2018
© Copyright 2024 UCLA -
Login
Home
Faculty
▼
Leadership
Academic Senate Faculty
Active Emeriti
Adjunct Faculty
Lecturers
Biomedical Research Minor
Graduate
Undergraduate
▼
Undergraduate home
New Student Sessions
Major Requirements
Advising
Basic Information
▼
First Year Students
Transfer Students
Frequently Asked Questions
Trouble Enrolling
Course Websites
Join MCDB Listserv
Commencement
Departmental Honors
Undergraduate Research
▼
How to Get Research Experience
Laboratory Safety
MCDB 193/194A Enrollment
MCDB 196A and 196B
MCDB 198A-D
MCDB 199
MCDB 199A-D
Contact Us
Administration
Jobs
News
Alumni and Friends
Giving
Scroll to top