Major Requirements – Molecular, Cell and Developmental Biology
Facebook
Twitter
Give
Now
Undergraduate
Major Requirements
Beginning Fall 2021, all lower division major preparation courses and upper division major courses must be taken for a letter grade to fulfill MCDB major requirements.
Students must earn a grade of C- or better in each prep course (see below for details).
Students admitted to the MCDB major in Fall 2020 or thereafter are required to earn a letter grade of C or better in each MCDB Core course – LIFESCI 107, CHEM 153A, MCDB 138, 144, 165A (see below for details).
A grade of “Passed” in courses taken to fulfill major preparation requirements or upper division major requirements are only accepted if the course(s) were taken during the following quarters: Spring 2020, Summer Sessions 2020, Fall 2020, Winter 2021, Spring 2021, and Summer Sessions 2021.
MCDB Tentative Course Offerings 2023 – 2024
[
Download PDF
]
MCDB Major Requirements 2023 – 2024
[
Download PDF
]
Preparation for the Major
Life Science Series
Physical Science Series
Chemistry
14A or 14AE, 14B or 14BE, 14BL, 14C, 14CL*, 14D
OR
20A, 20B, 20L, 30A, 30AL, 30B, 30BL*
Math
3A, 3B, 3C
or
LIFESCI 30A, 30B, Stats 13 or LIFESCI 40
OR
31A, 31B, 32A
Physics
5A, 5B, 5C
OR
1A, 1B, 1C, 4AL, 4BL
Life Science
7A, 7B,
7C, 23L
IMPORTANT NOTES – Preparation for the Major
Students must earn a grade of C- or better in each prep course and achieve an overall GPA of 2.0 in the prep for the major.
Students receiving grades of below C- in two prep courses, either separate courses or repetitions of the same course, are subject to dismissal from the major
.
Students who complete CHEM 20A can move to the 14 series starting with 14B, or after taking 20A, 20B, students can take 14BL, 14C, 14CL*, 14D, or after taking 20A, 20B, 20L, may take 14C, 14CL*, 14D. Students who transfer chemistry credit from another school for 20A, 20L, can take 14B, 14C, 14CL*, 14D.
The CHEM 14 series is unique to UCLA – there are no equivalents at other schools and must be taken in its entirety at UCLA.
*CHEM 14CL or CHEM 30BL is not required on the major, but most professional schools and possibly some graduate schools still require an organic chemistry lab.
Upper Division Major Requirements
Upper-Division Core Requirements
Biochemistry
CHEM 153A
– Biochemistry: Intro to Structure, Enzymes, & Metabolism  (4 units)
Genetics
LIFESCI 107
– Genetics  (5 units)
Cell Biology
MCDB 165A
–
Biology of Cells (5 units)
Developmental Biology
MCDB 138
– Developmental Biology (5 units)
Molecular Biology
MCDB 144
–
Molecular Biology of Cellular Processes (5 units)
Laboratory Requirement (choose
one
from #1 – 6)
1. MCDB 104AL
– Research Immersion Lab in Developmental Biology (5 units)
2. MCDB 187AL
– Research Immersion Lab in Genomic Biology (5 units)
3. MCDB 150AL
– Research Immersion Lab in Plant-Microbe Ecology (5 units)
4. MCDB 196B
– Research Apprenticeship II in MCDB (4 units)
Must be taken concurrently with
MCDB 180B
– Scientific Analysis and Communication II (2 units) to fulfill Lab Requirement
MCDB 196A
– Research Apprenticeship I in MCDB (4 units) and
MCDB 180A
– Scientific Analysis and Communication I (2 units) are prerequisites for MCDB 196B and MCDB 180B
5. MCDB 198C
– Honors Research in MCDB (4 units)
Limited to students completing the Biomedical Research Minor
6. MCDB 196B, 198B/C, or 199B/C
Must be taken concurrently with
MCDB 145
– Appreciation and Critical Review of Biomedical Research (4 units) to fulfill Lab Requirement
Upper-Division Elective Requirement for the Major
20 units of upper-division electives
List of approved electives below
5 units must be taken from Category 1
5 units may be taken from Category 1 or 2
10 units may be taken from Category 1, 2, or 3
IMPORTANT NOTES – Major Requirements
Students must receive a grade of C or better in each required Core course (LIFESCI 107, CHEM 153A, MCDB 138, 144, 165A) and must achieve a minimum overall GPA of 2.o in the major.
Students receiving grades below C in two required core courses, either in separate courses or repetitions of the same course, are subject to dismissal from the major.
Any single course can be used in only
one
category on the major.
Courses applied toward the prep and major requirements must be taken for a letter grade.
Any upper division MCDB course will be accepted as an MCDB elective,
excluding
MCDB 100, 104AL, 138, 144, 150AL, 165A, 187AL, 187C, 187D, 190A-C, 192A, 192B, 193, 194A, and 199.
A maximum of 4 units of approved seminar courses may be applied to the upper-division elective requirement for the major (e.g., MCDB 145, 180A, 180B, 191).
Elective credit is granted for
either
Biostats 100A or Stats 100A, but not both.
The MCDB department does not approve Biochemistry/MCDB or MIMG/MCDB double major petitions.
IMPORTANT NOTES – Applying Independent Research towards MCDB Major Requirements
To enroll in MCDB 196A-B, 198A-D, or 199A-D, students must be conducting research in an MCDB-approved lab. The list of approved faculty research mentors is available on our website:
https://www.mcdb.ucla.edu/undergraduate-research/
.
A maximum of 12 units of MCDB research (MCDB 196A-B, MCDB 199A-C, MCDB 198A-C) may be applied towards major requirements.
Applying Independent Research towards the Lab Requirement
MCDB 196A/B and MCDB 180A/B
Students may apply for these courses during their third or fourth year. Application instructions can be found here:
https://www.mcdb.ucla.edu/mcdb-196a-and-196b/
.
MCDB 196B fulfills the Lab Requirement. MCDB 196A, 180A, and 180B (total 8 units) apply towards the 20 units of upper-division electives required for the major.
MCDB 196B, 198B/C, or 199B/C and MCDB 145
MCDB 145 is only offered in Spring quarter. Students must apply for the course in Winter quarter.
MCDB 145 is taken concurrently with an MCDB upper-division research course. The research course fulfills the Lab Requirement. MCDB 145 (4 units) applies towards the 20 units of upper-division electives required for the major.
If you take MCDB 104AL, 187AL, or 150AL to fulfill the Lab Requirement, up to 12 units of MCDB research (MCDB 199A-C or MCDB 198A-C) apply towards the 20 units of upper-division electives required for the major.
Requirements for the B.S. degree established by the College of Letters & Science are listed in the UCLA General Catalog. A total of 180 quarter-units are required for the degree. 60 of the 180 units must be upper division (courses numbered 100-199). Please note that the MCDB major requirements satisfy 49 upper-division units.
Approved List of Upper-Division Electives for the MCDB Major
The categories below correspond to the categories on your Degree Audit Report.
CATEGORY 1
Five Units of MCD BIOlogy Upper Division Electives
Course #
Course Name
Units
MCDB 104BL
Advanced Research Analysis in Developmental Biology
4
MCDB M130
Fundamentals of Digital Imaging and Image Processing
5
MCDB M140
Cancer Cell Biology
5
MCDB C141
Molecular Basis of Plant Differentiation and Development
5
MCDB 145
Appreciation and Critical Review of Biomedical Research
4
MCDB 146
Metabolism and Disease
5
MCDB C150
Plant Communication
4
MCDB CM156
Human Genetics
5
MCDB 160
Principles of Light Microscopy
4
MCDB 167
Genetic Engineering: History, Science, and Applications in Medicine, Agriculture, and Law
6
MCDB 168
Stem Cell Biology
5
MCDB M175A
Neuroscience:  From Molecules to Mind
5
MCDB M175B
Neuroscience:  From Molecules to Mind
5
MCDB M175C
Neuroscience:  From Molecules to Mind
5
MCDB 180A
Scientific Analysis and Communications I
2
MCDB 180B
Scientific Analysis and Communications II
2
MCDB 191
Variable Topics in Molecular, Cell, and Developmental Biology
2
MCDB 196A
Research Apprenticeship I
4
MCDB 198A-C
Honors Research in MCDB
4/qtr
MCDB 199A-C
Directed Research in MCDB
4/qtr
CATEGORY 2
Five Units of Upper Division Electives from MCD Biology and Acceptable List of Outside Electives
Select from any category 1 courses listed above or acceptable outside electives listed below.
Course #
Course Name
Units
Chemistry & Biochemistry
CHEM C100
Genomics and Computational Biology
5
CHEM 153B
NOT ACCEPTED ON THE MCDB MAJOR – DO NOT TAKE THIS COURSE
CHEM 153C
Biochemistry: Biosynthetic and Energy Metabolism and Its Regulation
4
CHEM 153L
Biochemistry Laboratory
4
CHEM C159
Mechanisms in the Regulation of Transcription
4
CHEM CM160A
Introduction to Bioinformatics
4
Computer Science/Computational and Systems Biology
COM SCI CM124
Computational Genetics
4
COM SCI CM186
Computational Systems Biology: Modeling and Simulation of Biological Systems
5
Ecology & Evolutionary Biology
EE BIOL 184
Evolution, Development, and Disease
4
Microbiology, Immunology & Molecular Genetics
MIMG 100L
Microbiology Lab for Professional Schools
3
MIMG 101
Introductory Microbiology
4
MIMG 102
Introductory Virology
4
MIMG 105
Biological Microscopy
4
MIMG 132
NOT ACCEPTED ON THE MCDB MAJOR – DO NOT TAKE THIS COURSE
MIMG 158
Microbial Genomics
4
MIMG 168
Molecular Parasitology
4
MIMG 170
Cell and Gene Therapy
4
MIMG C185A
Immunology
5
Physiological Sciences
PHY SCI 121
Disease Mechanisms and Therapies
5
PHY SCI 125
Molecular Systems Biology
5
PHY SCI C130
Sex Differences in Physiology and Disease
4
PHY SCI 174
Cell Biophysics in Physiology and Disease
5
CATEGORY 3
Ten Units of Upper Division Electives from MCD Biology and Acceptable List of Additional Outside Courses
Select from any category 1 or 2 courses listed above or additional outside electives listed below.
Course #
Course Name
Units
Biostatistics
BIOSTAT 100A
Intro to Biostatistics
4
Ecology & Evolutionary Biology
EE BIOL 110
Vertebrate Morphology
6
EE BIOL 121
Molecular Biology and Evolution
4
EE BIOL C146
Conservation Genetics
4
EE BIOL 162
Plant Physiology
4
Human Genetics
HUM GEN C144
Genomic Technology
4
Physiological Sciences
PHY SCI 166
Animal Physiology
6
Statistics
STATS 100A
Introduction to Probability Theory
4
Course Number Designations:
C = Course is offered concurrently to undergraduate and graduate students in the same class.
M = Course is listed under multiple departments (and may have different course numbers in each department).
SCHEDULING TIPS
Not all electives are offered every year. Please consult the Schedule of Classes or the appropriate department.
When planning your classes, please make sure you have accounted for all prerequisites for any upper-division class in which you plan to enroll. Courses may even have upper-division prerequisites.
Some electives are restricted to the department’s own majors during first pass enrollment appointments. For example, you must wait until your second pass to enroll in MIMG 101, because it is restricted to MIMG majors during first pass.
Computing Specialization in MCDB
MCDB majors may receive a Specialization in Computing by:
Satisfying all requirements for a bachelor’s degree in the MCDB major and;
Completing the following course requirements:
Course Requirements
1. COMPTNG 10A
– Introduction to Programming (5 units)
2. COMPTNG 10B
– Intermediate Programming (5 units)
3. COMPTNG 10C
– Advanced Programming (5 units)
4. COMPTNG 16A
– Python with Applications (5 units)
5. ST
ATS 13
– Introduction to Statistical Methods for Life and Health Sciences
or
LIFESCI 40
– Statistics for Biological Systems (5 units)
6.
One upper-division course from the approved list below.
Approved Upper-Division Courses
Course #
Course Name
Units
CHEM C100
Genomics and Computational Biology
5
CHEM C160A
Introduction to Bioinformatics
4
COM SCI CM124
Computational Genetics
4
COM SCI CM186
Computational Systems Biology: Modeling & Simulation of Biological Systems
5
MCDB M130
Fundamentals of Digital Imaging and Image Processing
5
MCDB 187AL*
Research Immersion Lab in Genomic Biology
5
PHYSCI 125
Molecular Systems Biology
5
IMPORTANT NOTES – Computing Specialization
Students must earn a letter grade of C or better in each required course for the Computing Specialization and a combined GPA of at least 2.0 in these courses to graduate with the Specialization in Computing.
Students may overlap the upper-division course for the Specialization with an elective or Lab Requirement for the major.
*Space in MCD BIO 187AL is limited and students are
not
guaranteed a space in MCDB 187AL simply because they are pursuing the Computing Specialization.
Interesting links
Here are some interesting links for you! Enjoy your stay :)
Pages
198 Sponsors Must
198 Students Must
198: How To Apply and Enroll
198A-D: Drafts, Reports, and Grading
199 Drafts, Reports, Grading
199 How to Apply and Enroll
199 project proposal
199 Project Proposals
199 Sponsors Must
199 Sponsors Must
199 Students Must
199 Students Must
199A-D: Drafts, Reports, and Grading
483 BSRB Reservations
5000A TLSB reservations
Active Emeriti
Adjunct Faculty
Advising
Advising
Alumni and Friends
Basic Information
Basic Information
Biomedical Research Minor
Commencement
Commencement 2020
Conference map
conference2023
crs
custom search view page test
Departmental Honors
Enrollment Request Form
facResearchTest
facTEST
facTESTmon
faculty handbook
FacultyResearchTEST2
facultyTESTblockMonday
First Year Students
First Year Students
freezer reservation
Frequently Asked Questions
Frequently Asked Questions
full Custom Faculty View test
giveTEST
Giving
Graduate
grantest
Home
HomeOrig
HorizontalNewsTEST
How to Apply and Enroll
How to Get Research Experience
indivfaculty
Intranet
Intranet Test
Jobs
Join MCDB Listserv
Laboratory Safety
Leadership
Lecturers
Major Requirements
Major Requirements
MCDB 193/194A Enrollment
MCDB 196A & 196B: Forms
MCDB 196A and 196B
MCDB 198/199 Forms
MCDB 198A-D
MCDB 198A-D Proposals
MCDB 199
MCDB 199A-D
MCDB Retreat Program
MCDB-Group-Administration
New Student Sessions
NewNewsTEST
news
newSearchTEST
newsortableViewTEST
Nursing Mothers Room
Order Form
paginationViewPageTest
photo test
Professors
Proposal Guidelines
readMoreTEST
redopagtwoPagetwo
redotthreeTEST
redotwopaginationtestPAGE
Reservation Request
Sample Page
searchViewTEST
seminars
talk poster form
taxonomyTEST
test
test1
test2
test3
Testing mcdb-users
Transfer Students
Transfer Students
Trouble Enrolling
Trouble Enrolling
Undergraduate
Undergraduate Research
v
View: searchFacultyMondayView
zoom backgrounds
Categories
Uncategorized
undergraduate
Archive
May 2020
September 2018
© Copyright 2024 UCLA -
Login
Home
Faculty
▼
Leadership
Academic Senate Faculty
Active Emeriti
Adjunct Faculty
Lecturers
Biomedical Research Minor
Graduate
Undergraduate
▼
Undergraduate home
New Student Sessions
Major Requirements
Advising
Basic Information
▼
First Year Students
Transfer Students
Frequently Asked Questions
Trouble Enrolling
Course Websites
Join MCDB Listserv
Commencement
Departmental Honors
Undergraduate Research
▼
How to Get Research Experience
Laboratory Safety
MCDB 193/194A Enrollment
MCDB 196A and 196B
MCDB 198A-D
MCDB 199
MCDB 199A-D
Contact Us
Administration
Jobs
News
Alumni and Friends
Giving
Scroll to top