Travel Advisory, Alerts, Entry & Exit Requirements When Planning Travel | Travel Services
Skip to Main Content
Business & Finance Solutions
Travel Services
Search Icon
Search the site:
Home
Travel Advisory, Alerts, Entry & Exit Requirements When Planning Travel
Due to the conflict in Ukraine, the U.S. State Department has issued a Level 4 — Do Not Travel Warning for Ukraine. All members of the UC community to avoid all travel to Ukraine at this time. Additionally, travel to neighboring countries should be carefully evaluated.
Read More
University Travelers are highly encouraged to consult the following resources when planning for University travel:
US Department of State: Country Information
CDC travel guidelines
WorldCue Planner
It is highly recommended that you review the
US Department of State Country Information
for travel restrictions to your destination and travel requirements when returning to the US.
10920 Wilshire Blvd., 5th Floor
Los Angeles, CA 90024-6541
Mail Code: 143348
Phone: (310) 206-2639 or (800) 235-UCLA (8252)
CST# 2046415-70
Travel Services Directory
Facebook
Instagram
Linked
Twitter
Youtube
TikTok
Snapchat
© 2024 Regents of the
University of California
Emergency
Accessibility
Privacy & Terms of Use