Graduate Requirements | CEE
Select Page
Search for:
X
Graduate Requirements
N
M.S. Checklist
Timeline
Program Requirements: Policy & Procedures
Student Procedures: Step by step guidelines to completing your M.S. degree
Important Notes: Registration, Transcripts & Diplomas, Summer Enrollment
Interested in continuing to Ph.D.
N
Ph.D. Checklist
Timeline
Program Requirements: Policy & Procedures
Student Procedures: Step by step guidelines to completing your Ph.D. degree
Important Notes: Registration, Transcripts & Diplomas, Summer Enrollment
v
Graduate Student Blog
Job Opportunities
Workshops: Career Center, Writing Center, Financial Aid
Events: University & Department sponsored events for graduate students
Important Deadlines: Registration, Fellowship, Graduation Requirements

Graduate Student Resources
Civil Engineering Program Requirements
Graduate Student Standards & Procedures Handbook
Registrar Office Services
Graduate Division Financial Support Services
Dashew Center for International Students
Campus student support resources
i
Graduate Student Forms
General: Change of Advisor/Major Field, New Student Checklist, Filing Fee
M.S.: Program of Study, ATC, Transfer Petition, Committee Nomination
Ph.D.: Proposal of Fields, Committee Nomination
Employment: GSR & TA Documents
Funding: Conference Travel and Research Request
International Students: CPT/OPT

Graduate Student Employment
ASE: Overview, Eligibility, Hiring Process, TOP Exam
GSR: Overview, Eligibility, Hiring Process
CPT/OPT: Overview, Eligibility, Forms

Graduate Student Funding
UCLA Fellowships: DYF, Privately Endowed Fellowships
Extramural Fellowships: Deadlines, Searchable Databases
Conference Travel and Research Funds: Eligibility, Form
Financial Aid: Deadlines, Important Websites

Like Us: Civil and Environmental Engineering

Follow Us: Civil and Environmental Engineering

Check out the Grad Student Blog
Facebook
X
Instagram
Linkedin
YouTube
©
Copyright 2024 UCLA Samueli School Of Engineering
Contact Us
Accessibility
Terms of Use
Safety First
UCLA