Graduate Requirements | CS
Select Page
Search for:
X
Graduate Requirements
Due to the high volume of email inquiries, applicants will not receive a personalized response. Over the last few years, we have found that for 99% of the responses to these inquiries can be found on our FAQ admission webpage (
https://www.cs.ucla.edu/graduate-admission-frequently-asked-questions/
). Most questions can be answered by simply reviewing or searching a topic, such as GRE, TOEFL, official transcripts, personal statement, letters of recommendation and document status on the above webpages.
In the rare instance when a question is not answered on one of the above webpages or in the general response below, a personalized email response may be provided. As a courtesy, please do not send the same question to multiple staff/faculty throughout the CS Department. Please send your question that is not listed on the Grad FAQ webpage to the CS Grad Student Affairs Office only. As noted in the above webpages, applicants are asked not to make email or phone inquiries about the receipt of documents. Doing so will delay our efforts to process application material.
*CS DeepMind Fellowship for CS MS Applicants for Fall 2024 Only*
ELIGIBILITY
The spirit of this fellowship is to support URM or women students who would otherwise not be able to pursue a graduate degree in AI/ML.
The fellowship will only be awarded to students who are offered and accept admission to the M.S. program in Computer Science at UCLA.  To be eligible for this fellowship, you must satisfy ALL of the following requirements:
* You must apply to our MS program (deadline December 15, 2023). If admitted, you must start the MS program Fall 2024 (you do not need to be admitted first to apply to the fellowship). If you are starting/have started the MS program before Fall 2023, you are not eligible to apply.
* You must reside in the United States (no exceptions) in Fall 2024 and for the duration of your M.S. study.
* You would be unable to take up the offer of admission to our program without financial assistance.
* You have a demonstrable interest in artificial intelligence and/or machine learning.
The intent of this fellowship is to provide access to higher education for students who might otherwise find it difficult or impossible to successfully pursue graduate study. In addition, individuals from cultural, racial, linguistic, geographic and socioeconomic backgrounds, including women, that are currently underrepresented in graduate education in the field of artificial intelligence and machine learning are especially encouraged to apply.
Deadline to apply is December 15, 2023.
To apply for this fellowship please visit:
CS MS DeepMind Fellowship Application
**GRE Requirement for Fall 2024-2025 Admissions Cycle Only**
Students who wish to apply for admission to our graduate program for the 2024-2025 academic year (applications for this cycle are due December 15, 2023) are not required to take the GRE or submit a GRE score report as part of their application package. However, students may voluntarily submit GRE test scores and they will be reviewed as part of the holistic application consideration. The applications with GRE scores will not be given greater weight than those that do not include scores.
We are pleased that you are interested in applying to the Computer Science Graduate Program at UCLA. The following information provides an overview of the requirements for admission to the department and an explanation of the application procedures. Additionally,
see our Frequently Asked Questions page
.
BASIC REQUIREMENTS
For admission consideration, all applicants are required to upload ONE (1) official transcript from each post-secondary institution attended in their online application. (Please see additional information about transcripts below.)
An applicant for admission must hold a bachelor’s degree from an accredited college or university, must have the necessary academic preparation to complete graduate level courses in Computer Science.. International applicants must meet the university’s minimum requirement for the
TOEFL or IELTS
. Conditional admission is not offered and a transitional or pre-master’s program is not available. The department does not provide “pre-application” reviews. Prospective applicants should review this page,
frequently asked questions
, and the department’s
annual report
to determine their admission competitiveness, and academic and research fit with the university.
GRADE POINT AVERAGE
The most competitive applicants have an undergraduate cumulative GPA of at least 3.5 (on a 4.00 scale),and at least a 3.50 in any graduate study. The average cumulative GPA of admitted applicants is 3.60.
The university requires a cumulative GPA of at least 3.0 for consideration. The department reviews all applicants who have earned a cumulative GPA of at least 3.0.
Staff in the Computer Science Graduate Student Affairs Office review and convert, as necessary, the marks or grades of all applicants. The Graduate Division online application asks applicants to submit their grade point average on the scale used by their institutions.
DECIDING BETWEEN THE PH.D. AND M.S. PROGRAMS
Students may apply for either the Ph.D. program or the M.S. program but not both. Admission to the Ph.D. program is more selective than for the M.S. program. In general, the admissions committee does not consider Ph.D. applicants for admission into the M.S. program and vice versa. While a Ph.D. degree prepares students not only for careers in research and academia, those who apply for a Ph.D. degree typically demonstrate significant achievement in and/or potential for advancing knowledge through independent research and teaching.
While a M.S. degree prepares students not only for careers in the industry, those who apply for an M.S degree typically demonstrate interest in developing and applying technical skills and translational knowledge. M.S. applicants should be aware that the selection process is rigorous for M.S. students who later apply for admission into the Ph.D. program.
Applicants who hold a master’s degree in computer science or a closely related discipline will not be considered for admission to the master’s program. Applicants who hold only a bachelor’s degree may apply to the Ph.D. program. In recent years, the majority of PhD admittees have completed only a bachelor’s degree.
APPLYING FOR GRADUATE ADMISSION
APPLICATION DEADLINE
The deadline to submit an application for admission is
DECEMBER 15, 23:59, PST
. Students are admitted only once a year to start in the fall quarter only. Applications should be submitted only between mid-September and December 15.
Fee Waiver:
If you do not meet the criteria for a Fee Waiver as specifically stated on the
Fee Waiver requirement page
then unfortunately you do not qualify for a fee waiver (no exceptions). If you do meet the criteria as stated on the
Fee Waiver requirement page
, it is the applicant’s responsibility to upload all the required documents (including redacting SSN) in their graduate admissions application. The graduate admissions application itself is due December 15th and you cannot modify/edit your application after you have submitted it.
UCLA GRADUATE DIVISION ONLINE APPLICATION FOR ADMISSION
All applicants must complete a
UCLA Graduate Division online application for admission
. For more information about applying for graduate admission to UCLA, visit the
Graduate Division webpage
.
All application material for the computer science department may be submitted through the online UCLA application website noted above. Material to be submitted includes the following:
(1) Letters of Recommendation
(NOTE: Please utilize the Graduate Division Recommendation, and NOT the Electrical Engineering Recommendation.)
At least THREE (3) letters of recommendation must be submitted.
For M.S. applicants:
We recommend that you provide letters of reference from professors who have taught you in your junior and senior years.
If you are an ESAP applicant to the CS MS program, you will need two letters of rec from CS faculty/instructors or instructors from outside the department that have a joint appointment with the UCLA CS Dept (i.e. Professors Achuta Kadambi and Mani Srivastava are ECE faculty with joint appointments with the CS Dept). If the faculty member does not have a joint appointment with the UCLA CS Dept they cannot serve as one of your two letters of rec for the CS M program as an ESAP applicant.
For Ph.D. applicants:
We urge that all your letters be from academic or professional references as recent as possible and from people who can comment on your recent professional accomplishments and your qualifications for graduate study in Computer Science. If you have an M.S. degree, letters from professors who have served on your M.S. committee are particularly helpful.
Letters are due December 15. We will make every effort to review late letters received by December 15, but we cannot guarantee that they will be included in the review.
(2) Academic Transcripts (Not required from UCLA students and alumni.)
All applicants are required to upload ONE
(1)
official transcript from each
post-secondary
institution attended. Official transcripts should be uploaded to your online application only. Only if you are officially offered admissions into our program will you send us your final official transcript/degree certificate/diplomas.
Applicants who are attending or have graduated from a U.S. institution that transmits transcripts electronically may request to have official transcripts emailed to: gradadm@cs.ucla.edu but can also upload the official transcript in their online application.
Official transcripts are defined as original documents issued by the institution that bear the actual signature of the Registrar — not a photocopy — and the seal of the issuing institution.
Do not, however, send the original of an academic record that cannot be replaced;
upload a properly certified copy instead.
International applicants should refer to the “
Requirements for International Students
”
section of the Graduate Division webpage for information about submission of foreign academic records. We do not request or review WES evaluations.
Most applicants are in the process of completing a degree. If offered admission, the final transcript indicating the date of the degree conferral may be submitted during the summer.
Applicants from India and China who have graduated must submit official copies of their degree certificates along with their final official transcripts and diploma:
If you are receiving your bachelor’s degree from a
university in China
If your bachelor’s degree has been awarded, please upload your final official transcripts both in English and Chinese (make sure the GPA scale is included when you upload these documents), the official degree certificate both in English and Chinese and the official diploma in both English and Chinese in your online application.
If you are still enrolled and have not been awarded your degree from your university in China, please be sure to upload your latest official transcripts both in English and Chinese in your online admissions application (make sure your university’s GPA scale is included when you upload these documents).
If you are receiving your bachelor’s degree from a
university in India
If you have received your bachelor’s degree from a university in India, please be sure to upload a copy of your final official transcripts along with a copy of your official diploma that shows when your degree was officially conferred and awarded.
Please note the conferral certificate is NOT the same as the official diploma.
If you have not been awarded your degree and are still enrolled in a university in India, please be sure to upload a copy of your official transcripts in your online admissions application (make sure your university’s GPA scale is included when you upload these documents).
If you are receiving your bachelor’s Degree from a University
outside the U.S. (and not from India and China)
If you have been awarded your degree, please be sure to upload your official transcript both in English and the native language from the country the university is located in, and a copy of your official diploma both in English and the native official language from the country the university you attended in your online application.
If you are currently enrolled and have not been awarded your degree from your university, please be sure to upload your official transcripts in both English and the native official language from the country the university you are attending in your online application (make sure your university’s GPA scale is included when you upload these documents).
Official transcripts are due December 15 along with the application (officially transcripts should be uploaded in your graduate application before you submit the application). We will make every effort to review materials received after December 15, but we cannot guarantee that they will be included in the review (please do not email nor call).
UCLA students and alumni please note: You do not have to submit an official UCLA transcript. You may upload your MyUCLA record in the online application.
(3) Graduate Record Examination (GRE)
**GRE Requirement for Fall 2024-2025 Admissions Cycle Only**
Students who wish to apply for admission to our graduate program for the 2024-2025 academic year (applications for this cycle are due December 15, 2023) are not required to take the GRE or submit a GRE score report as part of their application package. However, students may voluntarily submit GRE test scores and they will be reviewed as part of the holistic application consideration. The applications with GRE scores will not be given greater weight than those that do not include scores.
All students applying for fall who wish to take the GRE test early in the fall before the application deadline (Dec. 15). The test must have been taken within five (5) years of the submission date of the UCLA Graduate Division online application. Check the testing schedule and registration information on the
GRE homepage
.
The UCLA institution code is 4837. The Computer Science department code is 0402. Official scores should be sent to UCLA as soon as possible. Meanwhile, applicants are encouraged to submit unofficial student score reports on the Supporting Documents Upload section of the UCLA Graduate Division online application.
In order to ensure your scores synch up with your online application make sure your last name, first name, middle name (if any) and email address match exactly on your ETS registration and on your online graduate admissions applications. If you leave out your middle name or use a different email address the scores might not synch up to your graduate admissions application and we cannot guarantee your scores will be received by the deadline.
The GRE computer science subject exam is not reviewed by the department. The GMAT may not be substituted for the GRE.
Applicants must take the exam well before the December 15 deadline. Reports on exams taken in November
will
be received in time for review. GRE reports may be sent to UCLA before online applications are submitted.
If you plan to take or have already taken an additional exam, please make sure that ETS has already sent your first exam report to UCLA before December 15.
(4) Test of English as a Foreign Language (TOEFL) or the International English Language Testing System (IELTS)
International students must submit a TOEFL with a score of at least 87 (computer-based) or 560 (paper-based), or an IELTS with a score of at least 7.0. Exams must be taken within two (2) years of the date of the online application submission. The UCLA institution code is 4837. The Computer Science department code is 78. Official scores should be sent to UCLA as soon as possible. Meanwhile, applicants are encouraged to submit unofficial student score reports on the Supporting Documents Upload section of the UCLA Graduate Division online application. Additional TOEFL information is available at
Frequently Asked Questions
.
Applicants who hold a bachelor’s degree or higher from a university within the United States or in another country in which English is both
the primarily spoken language of daily life (for the country)
AND
the medium of instruction, or have completed two years of full-time study at such institutions
(i.e. accredited US university or accredited university where English is the primary spoken language of  daily life (for the country) and the medium of instruction)
,
are exempted from the TOEFL/IELTS requirement. Your eligibility for an exemption will be verified by the information you provide in the academic history section of your online application and the official transcripts that you upload in your graduate admissions application.
If your academic history does not fit this criteria then you are not exempt from the TOEFL/IELTS requirement (no exceptions) and please do not email us asking for an exception/waiver.
Applicants must take the exam on or before the December 15 deadline. Reports on exams taken in November
will
be received in time for review. TOEFL reports may be sent to UCLA before online applications are submitted.
If you plan to take or have already taken an additional exam, please make sure that ETS has already sent your first exam report to UCLA before December 15.
In order to ensure your scores synch up with your online application make sure your last name, first name, middle name (if any) and email address match exactly on your ETS registration/IELTS and on your online graduate admissions application. If you leave out your middle name or use a different email address the scores might not synch up to your graduate admissions application and we cannot guarantee your scores will be received by the deadline.
Duolingo will not be accepted.
For more information, visit the
UCLA Graduate Division web page
.
(5a) Statement of Purpose (SOP)
All CS applicants submit an SOP (500 word limit) in their Graduate Division online application. Instructions are provided in the SOP section of the online application. The SOP is considered to be the writing sample.
No additional writing sample is requested.
(5b) Personal history
All CS applicants submit a personal history statement (500 word limit).
No additional writing sample is requested.
(6) Resume or Vitae (Not required)
Applicants are not required to submit a resume or vitae. This information may be presented in the UCLA Graduate Division online application in the awards, distinctions, publications and organizations sections, or uploaded as a supporting document.
(7) Supplemental Application and Writing Sample (Not required)
Computer Science does not have a supplemental application or require a writing sample. The notation on the Graduate Division webpage concerning the supplemental application does not apply to CS applicants.
CHECKING APPLICATION/DOCUMENT STATUS
You will be contacted if any document or application material is missing or needed.
Please do not email or call to inquire about receipt of documents as it will delay our efforts to process application material.
Our office is able to match test reports and transcripts for nearly all applicants. An applicant is denied admission consideration due to an incomplete file only if he or she does not respond to our request to submit missing material. Ph.D. decisions will be emailed to all applicants by the end of February. M.S. decisions will be emailed out by the end of March.
MAILING ADDRESS FOR OFFICIAL TRANSCRIPTS (If offered admissions only – do not mail when submitting a graduate application)
If you are offered admissions into our program, please arrange to have official transcripts sent to the following address:
Graduate Student Affairs Office
UCLA Computer Science Department
Engineering VI room 291
Los Angeles, CA 90095-1596
Phone: (310) 825-0060
Fax: (310) 206-8133
FINANCIAL SUPPORT
Applicants to the Ph.D. program will
automatically
be considered for departmental funding, and awards will be given based on the applicant’s academic merit and potential. All Ph.D. applicants who are offered admission are provided financial support from either department resources or the research grants of individual faculty members. Ph.D. admittees are provided a funding offer shortly after being notified of their admission. Domestic Ph.D. applicants are strongly encouraged to explore university-wide fellowships, especially the Eugene V. Cota-Robles Fellowship, detailed in the
UCLA Graduate Division financial support webpage
.
M.S. applicants are not eligible for departmental financial support.
TAing/GSRs/Reader positions are not part of the Computer Science Masters Program/Curriculum and M.S. student (both incoming and continuing) are not guaranteed TAships/GSRs/Reader positions (i.e. Dept funding) for any year.
International M.S. applicants must demonstrate personal or agency financial support of at least $65,000 for the first year
to qualify for a visa to study in the U.S. Prospective international M.S. applicants should apply for admission ONLY if they can provide such documentation, which will be requested if admission is offered, in early March. Information on the cost of attendance is available on the
UCLA Graduate Division webpage
. Specific charges for tuition and fees and non-resident supplemental tuition are listed on the
Registrar’s fee page
.
Therefore prospective M.S. students are aware upon applying that if they are admitted they must demonstrate they have the financial support for our program. Proof of this financial support is also requested when a student is admitted into our M.S program. and submit their Confidential Financial Statement (CFS) in order to verify evidence/proof of financial support and issuance of a UCLA I-20.
Domestic
M.S. applicants are strongly encouraged to explore university-wide fellowships and grants and external fellowships, especially the Graduate Opportunity Fellowship Program (GOFP), detailed in the
UCLA Graduate Division financial support webpage
.
QUESTIONS?
Please
CLICK HERE
to see our “Frequently Asked Questions” page. For additional assistance, please contact the Computer Science Graduate Student Affairs Office:
For questions on the PhD program, please contact Helen Tran at helen@cs.ucla.edu
For questions on the MS program, please contact Juliana Alvarez at jalvarez@cs.ucla.edu
Facebook
X
Instagram
Linkedin
©
Copyright 2024 UCLA Samueli School Of Engineering
Contact Us
Accessibility
Terms of Use
Safety First
UCLA