Undergraduate Requirements | CS
Select Page
Search for:
X
Undergraduate Requirements
Program Description
Mission Statement and Program Educational Objectives
Undergraduate program description including
:
Scope
Undergraduate Program Objectives
Bachelor’s of Science in Computer Science and Engineering
Bachelor’s of Science in Computer Science
Class Web Pages
Students can access the
CS course homepages
maintained by the course instructor and the teaching assistant.
Admissions
All applicants to the UCLA Computer Science Department Undergraduate Program must apply through the
Office of Academic and Student Affairs
(
OASA
) in the Henry Samueli School of Engineering and Applied Science (HSSEAS).
Facebook
X
Instagram
Linkedin
©
Copyright 2024 UCLA Samueli School Of Engineering
Contact Us
Accessibility
Terms of Use
Safety First
UCLA