Requirements – UCLA Biomedical Research Minor
Twitter
Dribbble
The Minor in Biomedical Research Requirements
BMD RES 5HB
– Biomedical Research: Essential Skills and Concepts (4 units)
BMD RES 193H
–
Journal Club Seminar (2 units)
BMD RES 194H
– Research Presentations Seminar (2 units)
(Note: HHURP, MARC, UCLEADS students can substitute equivalent seminar courses for BMD RES 193H and BMD RES 194H)
MCDB 60
–
Biomedical Ethics (5 units)
One upper division course in History of Science or Philosophy of Science (List Below
4-5 units
)
4 Quarters (totaling 16 units) of letter-graded laboratory research (
e.g. 198 or 199 course
).
You must participate in
at least one conference or poster session
(e.g. Undergraduate Research Showcase) where you present your research.  In addition, you must
SUBMIT A THESIS
at the end of your research.
(Check the
course catalog
for course descriptions)
History of Science or Philosophy of Science Approved Courses:
CLASSIC 148. Early Greek Medicine and Thought.
(5 units)
COM HLT 100. Introduction to Community Health Sciences.
(4 units)
ENGR 183EW. Engineering and Society.
(4 units)
ENGR 185EW. Art of Engineering Endeavors.
(4 units)
ENV HLT 100. Introduction to Environmental Health.
(4 units)
GENDER 134. Gender, Science, and Theory.
(4 units)
GRNTLGY M108. Biomedical, Social, and Policy Frontiers in Human Aging.
(5 units)
HIST 179A. Variable Topics in History of Medicine.
(4 units)
HIST 179B. History of Medicine: Foundations of Modern Medicine.
(4 units)
HIST 179C. Medicine and Society in 20th Century America.
(4 units)
HIST 180A. Topics in History of Science.
(4 units)
HIST M180B. Historical Perspectives on Gender and Science.
(4 units)
HNRS 105. Racial and Ethnic Disparities in Healthcare.
(5 units)
HNRS 141. Biology and Medicine in Postgenomic Era
(5 units)
HNRS 174. Future Impact of Nano in new Technologies.
(5 units)
HNRS 177. Biotechnology and Art.
(5 units)
HNRS M183. Being Human: Identity and Mental Illness
(5 units)
NEUROSC 142. – Neurophilosophy: Introduction and Assessment from Neuroscience Perspective. (
4 units
)
NEUROBIO M169. History of Neurosciences.
(4 units)
PHILOS 124. Philosophy of Science: Historical.
(4 units)
PHILOS 125. Philosophy of Science: Contemporary.
(4 units)
PHILOS 137. Philosophy of Biology.
(4 units)
PHILOS 155A. Medical Ethics.
(4 units)
PSYCH 124K. Ethical, Legal, and Societal Implications of Cognitive Neuroscience
(4 units)
PSYCH 188B. Special Courses in Psychology. *
depends on topic* (4 units)
PUB HLT M106. Health in Chicano/Latino Population.
(4 units)
PUB HLT C150. Fundamentals of Public Health.
(4 units)
SOC GEN M102. Societal and Medical Issues in Human Genetics.
(5 units)
SOC GEN 105B. Problems of Identity at Biology/Society Interface (4 units)
SOC GEN M136. Eating Society: Science and Politics of Food from Individual to Planetary Health
(4 units)
SOC GEN 180. Special Courses in Society and Genetics *
depends on topic* (4 units)
SOC GEN 188. Special Courses in Society and Genetics *
depends on topic* (5 units)
SOC GEN 191. Variable Topics Research Seminars: Perspectives in Society and Genetics. *
depends on topic* (5 units)
SOCIOL 143. Human Health and Society.
(4 units)
SOCIOL 191V. Variable Topics Research Seminars: Sociology. *
depends on topic* (5 units)
Other courses may be approved on petition; please contact the Student Services Advisor to inquire about specific courses.
Students must maintain a cumulative GPA of at least 3.0 and a grade of at least 3.0 (B) in all courses for the Biomedical Research Minor.  Failure to do so may result in dismissal from the program.
For more information or questions regarding program requirements please the Student Services Advisor, Enika Tumanov, at
bmdresminor@lifesci.ucla.edu
or
etumanov@lifesci.ucla.edu
.
Biomedical Research Minor
Hershey Hall 220B
bmdresminor@lifesci.ucla.edu
Scroll to top