Undergraduate Requirements | BE
Select Page
Search for:
X
Undergraduate Requirements
Open House
Open House is an event held once a year to attract prospective students to our undergraduate bioengineering program. These high school students, along with their parents, are invited to attend Open House to learn more about our program and to also get their questions answered. Faculty, staff, graduate students, and undergraduate students volunteer their time to help make this
event a success, and the guests quickly recognize that we have a strong community atmosphere in our department.
The Department of Bioengineering Open House Session is usually held on first
Sunday of April from 11:30 – 2:00pm
. Invitations are sent out to applicants who have been admitted to UCLA.
Degree Requirements Overview
Undergraduate Program Objectives
The bioengineering program is accredited by the Engineering Accreditation Commission of ABET,
https://www.abet.org
.
The goal of the bioengineering curriculum is to train future leaders by providing students with the fundamental scientific knowledge and engineering tools necessary for graduate study in engineering or scientific disciplines, continued education in professional schools, or employment in industry. There are five main program educational objectives: graduates (1) participate in graduate, professional, and continuing education activities that demonstrate an appreciation for lifelong learning, (2) demonstrate professional, ethical, societal, environmental, and economic responsibility (e.g., by active membership in professional organizations), (3) demonstrate the ability to identify, analyze, and solve complex, open-ended problems by creating and implementing appropriate designs, (4) work effectively in teams consisting of people of diverse disciplines and cultures, and (5) be effective written and oral communicators in their professions or graduate/professional schools.
Undergraduate Study
The Bioengineering major is a designated capstone major. Utilizing knowledge from previous courses and new skills learned from the capstone courses, undergraduate students work in teams to apply advanced knowledge of mathematics, science, and engineering principles to address problems at the interface of biology and engineering and to develop innovative bioengineering solutions to meet specific sets of design criteria. Coursework entails construction of student designs, project updates, presentation of projects in written and oral format, and team competition.
Bioengineering B.S.
Capstone Major
Preparation for the Major
Required:
Bioengineering 10; Chemistry and Biochemistry 20A, 20B, 20L, 30A, 30AL, 30B; Civil and Environmental Engineering M20 or Computer Science 31 or Mechanical and Aerospace Engineering M20; Life Sciences 7A (satisfies school GE life sciences requirement) and 7C; Mathematics 31A, 31B, 32A, 32B, 33A, 33B; Physics 1A, 1B, 1C, 4AL.
The Major
Students must complete the following courses:
Bioengineering 100, 110, 120, 167L, C175, 176, 180, Electrical and Computer Engineering 100, Engineering 181EW or 182EW or 183EW or 185EW; three technical breadth courses (12 units) selected from an approved list available in the
Office of Academic and Student Affairs
; two capstone design courses (Bioengineering 177A, 177B)
Six additional major field elective courses (24 units) from Bioengineering C101, C102, C103, C104, C105, C106, C107, 121, C131, C139A, C139B, CM140, CM145, C147, M153, C155, CM178, C179, 180L, M182, C183, C185, CM186, CM187, 199 (8 units maximum)
Three of the major field elective courses and the three technical breadth courses may also be selected from one of the following tracks. Bioengineering majors cannot take bioengineering technical breadth courses to fulfill the technical breadth requirement.
Biomaterials and Regenerative Medicine:
Bioengineering C104, C105, CM140, C147, C183, C185, 199 (8 units maximum), Materials Science and Engineering 104, 110, C111, 120, 130, 132, 143A, 150, 151, 160, 161. The above materials science and engineering courses may be used to satisfy the technical breadth requirement.
Biomedical Devices:
Bioengineering C131, M153, 199 (8 units maximum), Electrical and Computer Engineering 102, Mechanical and Aerospace Engineering C187L. The electrical and computer engineering or mechanical and aerospace engineering courses listed above may be used to satisfy the technical breadth requirement.
For Bioengineering 199 to fulfill a track requirement, the research project must fit within the scope of the track field, and the research report must be approved by the supervisor and vice chair.
For information on UC, school, and general education requirements, see the
UCLA Samueli
section of College and Schools.
Sample B.S. Bioengineering Curriculum
Current UCLA freshmen and sophomores may sign up to attend Change of Major Workshops at 6426 Boelter Hall. For more information regarding the curriculum, please contact Erkki Corpuz.
Erkki W. Corpuz
Counselor
Undergraduate Program
6426 Boelter Hall
(310) 825-9442
erkki@seas.ucla.edu
B.S. in Bioengineering Curriculum
Courses
Units
FRESHMAN YEAR
1st Quarter
Bioengineering 10 – Introduction to Bioengineering
2
2
Chemistry and Biochemistry 20A – Chemical Structure
1
4
English Composition 3 – English Composition, Rhetoric, and Language
5
Mathematics 31A – Differential and Integral Calculus
1
4
2nd Quarter
Chemistry and Biochemistry 20B/20L – Chemical Energetics and Change/General Chemistry Laboratory
1
7
Mathematics 31B – Integration and Infinite Series
1
4
Physics 1A – Mechanics
1
5
3rd Quarter
Chemistry and Biochemistry 30A – Organic Chemistry I: Structure and Reactivity
1
4
Mathematics 32A – Calculus of Several Variables
1
4
Physics 1B/4AL – Oscillations, Waves, Electric and Magnetic Fields/Mechanics Laboratory
1
7
SOPHOMORE YEAR
1st Quarter
Bioengineering 100 – Bioengineering Fundamentals
2
4
Chemistry and Biochemistry 30B – Organic Chemistry II: Reactivity, Synthesis, and Spectroscopy
1
4
Mathematics 32B – Calculus of Several Variables
1
4
Physics 1C – Electrodynamics, Optics, and Special Relativity
1
5
2nd Quarter
Chemistry and Biochemistry 30AL – General Chemistry Laboratory II
1
4
Life Sciences 7A – Cell and Molecular Biology
1
5
Mathematics 33A – Linear Algebra and Applications
1
4
UCLA Samueli GE Elective
3
5
3rd Quarter
Bioengineering 167L – Bioengineering Laboratory
2
4
Computer Science 31 (Intro to Computer Science I) or Mechanical and Aerospace Engineering M20 (Intro to Computer Programming with MATLAB)
2
4
Life Sciences 7C – Physiology and Human Biology
1
5
Mathematics 33B – Differential Equations
1
4
JUNIOR YEAR
1st Quarter
Electrical and Computer Engineering 100 – Electrical and Electronic Circuits
2
4
UCLA Samueli Ethics Course
4
UCLA Samueli GE Elective
3
5
2nd Quarter
Bioengineering 120 – Biomedical Transducers
2
4
Bioengineering C175 – Machine Learning and DataDriven Modeling in Bioengineering
2
4
UCLA Samueli GE Elective
3
5
Technical Breadth Course
3
4
3rd Quarter
Bioengineering 110 – Biotransport and Bioreaction Processes
2
4
Bioengineering 176 – Principles of Biocompatibility
2
4
Bioengineering Elective2,
4
4
Technical Breadth Course
3
4
SENIOR YEAR
1st Quarter
Bioengineering 177A – Bioengineering Capstone Design I
2
4
Bioengineering Elective
2, 4
4
Bioengineering Elective
2, 4
4
Technical Breadth Course
3
4
2nd Quarter
Bioengineering 177B – Bioengineering Capstone Design II
2
4
Bioengineering 180 – System Integration in Biology, Engineering, and Medicine I
2
4
UCLA Samueli GE Elective
3
5
3rd Quarter
Bioengineering Elective
2, 4
4
Bioengineering Elective
2, 4
4
TOTAL
181
Counts as Mathematics and Basic Sciences for ABET, total units Mathematics and Basic Sciences = 74.
Counts as Engineering Concepts for ABET, total units Engineering Concepts = 70.
Students should contact the Office of Academic and Student Affairs for approved lists in the categories of technical breadth and GE (see pages 22 and 23 for details).
Bioengineering electives include C101, C102, C104, C105, C106, C107, C121, C131, C139A, C139B, CM140, CM145, C147, C155, C170, C171, CM178, C179, 180L, M182, C183, C185, CM186, CM187, 199 (8 units maximum).
Undergraduate FAQs
Q: I’m interested in applying to the Bioengineering Undergraduate Program.  Where can I find information on how to apply?
Admissions to the undergraduate program in Bioengineering is handle by the
HSSEAS Office of Academic and Student Affairs
. For questions about HSSEAS admissions policies contact
erkki@ea.ucla.edu
. Please note in your email whether you would be applying as a freshman or a transfer.
Office of Student and Academic Affairs
6426 Boelter Hall
310-825-9580
Q: I’m interested in applying for admissions to the Graduate Program.  Where can I find information on how to apply?
Information on the Graduate Program in Bioengineering and how to apply can be found
here
.
Q:  Where is the main office for the Department of Bioengineering located?
The Department of Bioengineering is located in 5121 Engineering V.
Address:  5121 Engineering V
University of California
Los Angeles, CA 90095-1600
Q:  I’m interested in a postdoctoral position in the Department of Bioengineering.  How do I find available positions in the Department?
If you are interested in a postdoc position in one of the Bioengineering faculty’s labs, please contact the faculty directly to inquire about open positions in their labs.  For a list of faculty, see the
Faculty Page.
For more information about Postdoctoral Scholar appointments at UCLA,
CLICK HERE
Q: A new BE curriculum has been approved. Do I follow the program requirements for the year I entered or can I switch to the new curriculum?
If you started in the quarter that the new curriculum is approved, you will follow the requirements for the academic year that you entered the program.
If you started BE prior to the approval of the new curriculum, you have the option to follow the new  requirements, by filing a petition at 6426BH.
Q:  Where can I find a list of General Education requirements?
The GE List can be found on the Office of Academic and Student Affairs webpage under
GE Requirements.
Q:  BE students are required a Technical Breadth area.  Where I can find a list of approved TBA areas and courses?
A summary of areas can be found at:
Undergraduate Technical Breadth Areas
Q:  What am I supposed to take in place of the Bioengineering courses that have been cancelled?
The Bioengineering department has a list of approved courses that you can use to substitute for the classes that are no longer required or offered.
You can choose courses from the
BE Tracks
or the BE Electives List.
Electives include Bioengr C101, CM102, CM103, C104, C105, C131, CM140, CM145, C147, CM150, CM150L, C170, C171, CM178, 180L, C183, C185, CM186B, CM186C, 199 (8 units maximum).
Q:  BE 180L is no longer required, but the course is still being offered.  Can I still take it for credit?
Yes, you can still take BE 180L to fulfill a requirement.  Due to limited class size, it is no longer a requirement, but students who are able to enroll in it will be able to use towards their graduation requirements.
Q:  Can I take Engineering 183EW or 185EW in place of BE 165EW?
Yes, you can substitute either Engr 183EW or 185EW in place of BE 165EW.  No petition is necessary.
Q:  Bioengineering has recently announced that it has created two tracks.  What are they and am I required to choose one?
The two new tracks are (1) Biomaterials and Regenerative Medicine and (2) Biomedical Devices.  You can see the requirements for the two tracks
HERE
.  It is not a requirement to select a track.
Q:  When am I supposed to take BE 167L?
The class of 2010 should take it in Sp09 as juniors.  The class of 2011 should take it in F09 as juniors, and the class of 2012 should take it in Sp10 as sophomores.
Q:  How do I change my major to Bioengineering?
Change of major is handled by the OASA office in 6426 Boelter Hall.  Change of major workshops are scheduled throughout the quarter.  Days and times are posted on the sign-up sheet in 6426 Boelter Hall.  If you have any questions, please contact
Erkki Corpuz
.
Bioengineering major, only students with a minimum 3.5 cumulative grade point average are being considered and this does NOT guarantee approval of the change into that major.
Bioengineering has an especially competitive pool of applicants and a cap on the number of students that the Bioengineering major can accommodate.
Q:  I’m interested in working in a research lab.  How do I go about finding a undergraduate research position and when should I start looking for a lab?
Students who are interested in doing research in one of the Bioengineering Faculty’s lab should contact the Professors directly to inquire about open positions in the lab.  List of BE Faculty can be found
HERE
.
Faculty prefer students to have taken some laboratory techniques course before seeking a research position, however, it is advisable to start looking for a research lab as soon as the summer after your Freshmen year.  Students can enroll in a BE 199 research course and can use 8 units to apply towards their degree requirements.
Q:  What are the career paths for bioengineering students?
Students who graduate from our bioengineering program have continue their education in the following areas:  graduate school, medical, law, pharmacy, veterinary, and MBA programs.  Some  find positions in Industry at Amgen, Abbott Vascular, Schlumberger, City of Hope, consulting firms, etc.
If you cannot find answers to your questions here, please contact Erkki Corpuz at
erkki@ea.ucla.edu
Video: Want To Graduate On Time? Do This.
Facebook
X
Instagram
Linkedin
©
Copyright 2024 UCLA Samueli School Of Engineering
Contact Us
Accessibility
Terms of Use
Safety First
UCLA