Curricular Requirements Department Information | OASA
Select Page
Search for:
X
IMPORTANT NOTICES
COURSE CREDIT LIMITATIONS - These department policies may impact your ability to receive credit for specific courses.
When enrolling in courses please be aware of the following restrictions
CHEMISTRY
MATHEMATICS
(R
efer to
Question:
Mathematics Repeat Policy)
PHYSICS
Courses:
Any two or more courses from Physics 1A, 1AH, and 6A are limited to a total of 6 units of credit.
STATISTICS
Courses:
Credit is allowed for only one of the following introductory statistics courses: Statistics 10, 12, 13 (or former 10H, 11, or 14), or any equivalent course taken at UCLA or another institution
.
PHYSICS REQUISITES (different from schedule of classes)
Per the Physics department,  engineering undergraduates
can enroll
in Physics courses with the following requisites.
For Physics 1A — Requisite: Math 31A, Co-requisite: Math 31B;
For Physics 1B — Requisite:  Math 31B, Co-requisite: Math 32A;
For Physics 1C — Requisite Math 32A, Co-requisite Math 32B.
Resource for Pre-Med Information
David Geffen School of Medicine has a Guidance Resource Center designed to help students
Understand the requirements needed for Medical School
https://medschool.ucla.edu/education/pre-health-opportunities/guidance-center
SUBSET RESTRICTIONS
SUBSET RESTRICTIONS:
IT IS NOT PERMITTED TO USE MORE THAN ONE COURSE FROM THE SAME SUBSET IN MEETING DEGREE REQUIREMENTS FOR ANY ENGINEERING MAJOR.
Subset 1:
Probability and Statistics
(C&EE 110, EC ENGR 131A, ENGR 116, MATH 170A, MATH 170E, STATS 100A)
Subset 2
:
Numerical Computing
(C&EE 103, CH ENGR 109, EC ENGR 133A, MATH 151A)
Subset 3a:
Structural Mechanics (C&EE 108, MECH&AE 156A, MECH&AE 166A)
Subset 3b
:
Statics
(C&EE 91, MECH&AE 101)
Subset 3c
:
Dynamics
(C&EE 102, MECH&AE 102)
Subset 4a
:
Introductory Thermodynamics
(CH ENGR 102A, MECH&AE 105A)
Subset 4b
:
Transport Phenomena
(CH ENGR 101B, MECH&AE 105D)
Subset 5a
:
Systems
(EC ENGR 102, MECH&AE 107)
Subset 5b
:
Controls
(CH ENGR 107, EC ENGR 141, MECH&AE 171A)
Subset 6
:
Circuits
(EC ENGR 10, EC ENGR 100)
Subset 7
:
Differential Equations
(MATH 33B, MECH&AE 82)
Subset 8:
Entrepreneurship and Venture Initiation
(ENGR 160, MGMT 160)
Subset 9:
Entrepreneurship and New Product Development
(ENGR 163, MGMT 163)
UCLA Samueli School of Engineering Undergraduate Curricular Requirements and Department Information
BY DEPARTMENT
Engineering School-wide Programs
2023-2024 Engineering School-wide Course Offerings
*May be subject to change. Updated 09/08/2023
General Education Requirement
Technical Breadth requirements and Subset Restrictions
Bioengineering
Curricular Requirements and Department Information
Sample plans to graduate
Freshmen Admits 2020-2024 catalogs
Transfer Admits 2020-24 catalogs
Class Planning Tools
Bioengineering Major Planning Worksheets
2020-24
(worksheet for 20-21, 21-22, 22-23, and 23-24 catalogs)
2017-20
(worksheet for 17-18, 18-19, and 19-20 catalogs)
2014-17
(worksheet for 14-15, 15-16, and 16-17 catalogs)
2009-14
(worksheet for 09-10, 10-11, 11-12, 12-13, and 13-14 catalogs)
2006-09
(worksheet for 06-07, 07-08, and 08-09 catalogs
2023-24 Bioengineering Course Term Offerings
Requisite Flowchart for upper-division BE core courses (2020-21, 2021-22, 2022-23, 2023-24 catalogs)
Bioengineering Frequently Asked Questions
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Chemical and Biomolecular Engineering
Curricular Requirements and Department Information
Sample plans to graduate
Freshmen Admits (2023-2024 catalog)
Chemical Engineering (no specific option)
Chemical Engineering w/ Biomolecular Option
*Note: The recommended four year plan curriculum lists 104D should be taken in the Fall of your fourth year, this course is only a Winter and Spring course, please plan to take it in the Winter of your fourth year.
Chemical Engineering w/ Biomedical Engineering Option
Chemical Engineering w/ Environmental Option
Chemical Engineering w/ Semiconductor Manufacturing Option
*Note: The recommended four year plan curriculum lists 104C/CL should be taken in the Spring of your fourth year, these courses are only a Winter option , please plan to take it in the Winter of your fourth year.
Transfer Admits (2020-2024 catalog)
Chemical Engineering (no specific option)
Class Planning tools
Worksheets to assist in planning out a schedule
. Please use with
DARS
.
2023-2024 ChE course term offerings
subject to change without notice
Requisite Flow Chart (2016-2024)
Frequently Asked Questions
(FAQs) includes changes to curriculum requirements
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Civil and Environmental Engineering
Curricular Requirements and Department Information
Environmental Engineering Minor
– A guide for planning courses toward the minor. *New* catalog requirements effective F20.
Sample plans to graduate
Freshmen Admits (2021-2024 catalog)
Civil Engineering
Transfer Admits (2021-2023 catalog)
Civil Engineering
–
updated 7/13/2021
May be subject to change.
Class Planning tools
Worksheets to assist in planning out a schedule
. Please use with
DARS
.
Course Planning – Step by Step
– Guide to assist course planning.
2023-2024 List of C&EE Course Offerings by Term
–
May be subject to change
Additional Elective Options
effective
Fall 2018
–
May be subject to change.
Requisite Flow Charts
Upper Division Requisite Flow Chart
for 2018-2024 Catalog Year –
Details all REQUIRED Upper Division major field courses
Upper Division Requisite Flow Chart
for 2020-2024 Catalog Year –
Details all REQUIRED Upper Division major field courses
Upper Division Requisite Flow Chart
for 2021-2024 Catalog Year –
Details all REQUIRED Upper Division major field courses
Capstone/Design Flow Chart
C&EE Student Technical Breadth Selections
–
updated 05/12/2022
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Computer Science
Curricular Requirements and Department Information
Bioinformatics Minor Info and FAQ
Data Science Engineering Minor Info and FAQ
Sample plans to graduate
Freshmen Admits (2022-2024 catalog)
Computer Science
Computer Science and Engineering
Transfer Admits (2020-2021 catalog)
Computer Science
Computer Science and Engineering
Class Planning tools
Worksheets and class planning tips to assist in planning out a schedule
. Please use with
DARS
.
2023-2024 course term offerings
subject to change without notice
Requisite Graph/DAG (2021-2024)
Current Sci-Tech Options
For CS Major only, not applicable to CSE or CE
Frequently Asked Questions
(FAQs) includes changes to curriculum requirements
Enrolling in CS Classes
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Computer Engineering (shared with CS and ECE Departments)
CE is jointly administered by the Computer Science Department and by the Electrical and Computer Engineering Department
Comparison – How does Computer Engineering compare to Computer Science, Computer Science and Engineering and the Electrical Engineering major?
Major Comparison and FAQs
Faculty breakdown
Curricular Requirements and Department Information
Data Science Engineering Minor Info and FAQ
Sample plans to graduate
Freshmen Admits (2022-2024 catalog)
Computer Engineering 4 year sample plan (2022-2024 catalog)
Transfer Admits (2022-2024 catalog)
Computer Engineering 2 year sample plan (2022-2024 catalog)
Class Planning tools
Worksheets to assist in planning out a schedule. Please use with
DARS
.
Computer Engineering Fall 2018- Spring 2024 Course Planning Worksheet
Computer Engineering Fall 2017- Spring 2018 Course Planning Worksheet
Check the 2023-2024 course term offerings for CS (above) and ECE (below)
Requisite Flow Chart
CE Flow Chart 2022-2024
CE Flow Chart 2018-2022
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Electrical and Computer Engineering
Curricular Requirements and Department Information
Curriculum updates
— updated 9/21/17
Data Science Engineering Minor Info and FAQ
Sample plans to graduate
Freshmen Admits (2022-2024 catalog)
Electrical Engineering
Transfer Admits (2016-2024 catalog)
Electrical Engineering
Class Planning tools
Worksheets to assist in planning out a schedule
. Please use with
DARS
.
2023-2024 course term offerings
subject to change without notice
Requisite Flow Chart
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Materials Science and Engineering
Curricular Requirements and Department Information
Sample plans to graduate
Freshmen Admits
MSE Straight Option 4 year plan 2019-Present
MSE Electronic Option 4 year Plan 2019-Present
MSE Straight Option 4 Year Plan 2017-2019
MSE Electronic Option 4 Year Plan 2017- 2019
Transfer Admits
MSE Straight Option 2 year Plan 2021- 2023
MSE Straight Option 2 Year Plan 2018-2019
Class Planning tools
Worksheets to assist in planning out a schedule
. Please use with
DARS
.
2023-2024 course term offerings
subject to change without notice
Requisite Flow Chart
Frequently Asked Questions
(FAQs) includes changes to curriculum requirements
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
Mechanical and Aerospace Engineering
Curricular Requirements and Department Information
Sample plans to graduate
Freshmen Admits (2021-2024 catalog)
Aerospace Engineering – Aeronautics Track Curriculum
(for changes to requirements check FAQ link below)
Aerospace Engineering – Space Track Curriculum
(for changes to requirements check FAQ link below)
Mechanical Engineering
(for changes to requirements check FAQ link below)
Transfer Admits (2020-2024 catalog)
Mechanical Engineering
Aerospace Engineering
Class Planning tools
Worksheets to assist in planning out a schedule
. Please use with
DARS
.
2023-2024 course term offerings
subject to change without notice
Requisite Flow Chart
Aerospace Requisite Flowchart (Interactive)
Mechanical Requisite Flowchart (Interactive)
Frequently Asked Questions
(FAQs) includes changes to curriculum requirements
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
UCLA Samueli Announcement for your catalog year
.
UCLA Samueli School of Engineering Undergraduate Curricular Requirements and Department Information
BY DEPARTMENTAL MINORS.
Bioinformatics
Data Science
Environmental Engineering
X
©
Copyright 2024 UCLA Samueli School Of Engineering
Contact Us
Accessibility
Terms of Use
Safety First
UCLA