Undergraduate Requirements | CBE
Select Page
Search for:
X
Undergraduate Requirements
Chemical Engineering
Curricular Requirements and Department Information
Undergraduate sample 4 year plan for 2018-2019 catalog for changes to requirements check FAQ link below
Chemical Engineering Curriculum
Biomolecular Option
Biomedical Engineering Option
Environmental Option
Semiconductor Manufacturing Option
2022-2023 ChE course term offerings
subject to change without notice
Frequently Asked Questions
(FAQs) includes changes to curriculum requirements
Worksheets to assist in planning out a schedule
. Please use with
DARS
.
2016-2019 Flow Charts
Sample Chemical Curriculum for Transfer Students
Mission Statement, Program Objectives, and Student Outcomes
*NOTE
:  When planning a course schedule use the ABOVE worksheets, notice of curriculum updates,
current year’s term offerings (DO NOT refer to the Registrar’s tentative schedule since that is just a roll over of what was offered the previous year)
and the
HSSEAS Announcement for your catalog year
.
X
©
Copyright 2024 UCLA Samueli School Of Engineering
Contact Us
Accessibility
Terms of Use
Safety First
UCLA